
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <title>Error 404</title>
</head>
<body>
    <h1 class="display-4">Access Denied to NON-Students.</h1>
    <h2>Nice TRY.</h2>
    <h6>The educational discount page you are trying to access is for students and teachers only.</h6>

    <div>
        <nav>
            <a class="btn btn-primary btn-lg" role="button" asp-controller="Product" asp-action="Products">Back to Shoez</a>
        </nav>
    </div>


</body>
</html>
