@model ShoeDesignz.Models.ViewModels.LoginUser
@using Microsoft.AspNetCore.Identity;
@using ShoeDesignz.Models;
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
});

<fb:login-button scope="public_profile,email"
                 onlogin="checkLoginState();">
</fb:login-button>

<!--
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '{your-app-id}',
            cookie: true,
            xfbml: true,
            version: '{api-version}'
        });

        FB.AppEvents.logPageView();

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
-->

<section class="Outter">
    @if (!SignInManager.IsSignedIn(User))
    {
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Sign In</h3>
                        <div class="d-flex justify-content-end social_icon">
                            <span><i class="fab fa-facebook-square"></i></span>
                            <span><i class="fab fa-google-plus-square"></i></span>
                            <!--<span><i class="fab fa-twitter-square"></i></span>-->
                            <a asp-controller="Account" asp-action="Twitter"><span><i class="fab fa-twitter-square"></i></span></a>
                            <!--<div class="g-signin2" data-onsuccess="onSignIn"></div>-->
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="form-group">
                                <label for="email">Email address:</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="form-control" id="pwd">
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox"> Remember me</label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn float-right login_btn">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            Don't have an account? <a asp-controller="Account" asp-action="Register">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <span>Hello @User.Claims.First(m => m.Type == "FullName").Value</span>
        <p>YOU ARE already LOGGED IN</p>
        <a asp-controller="Product" asp-action="Products">View Products</a>

    }
</section>
