@model ShoeDesignz.Models.ViewModels.RegisterUser
@using Microsoft.AspNetCore.Identity;
@using ShoeDesignz.Models;
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}


<section>
    @*@if (!SignInManager.IsSignedIn(User))
    {*@
        <div class="jumbotron">
            <form method="post">
                <h1 class="display-4">Hello, world!</h1>

                <hr class="my-4">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
                <label asp-for="LastName"></label>
                <input asp-for="LastName" />
                <span asp-validation-for="LastName"></span>

                <label asp-for="Birthday"></label>
                <input type="date" asp-for="Birthday" />
                <span asp-validation-for="Birthday"></span>

                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>

                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>

                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>

                <button type="submit" class="btn btn-primary">Register</button>

            </form>
        </div>
    @*}
    else
    {
        <h1>No need to register! you are already registered!!!!</h1>
    }*@
    </section>

























