@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>This is where you would get a special shoe for risk takers</h1>
<h2>This is the RickTaker cshtml page</h2>