
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <title>Index Landing Page</title>
</head>
<body>
    <h1 class="display-4">Welcome to the Amazing Shoezzzz Design</h1>

</body>
</html>
