@using ShoeDesignz.Models;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<<<<<<< HEAD

=======
>>>>>>> c9ad48cb158b60310ec2168a7e981331cec40265
<html>
<head>
    <title>Index Landing Page</title>
</head>
<body>
<<<<<<< HEAD
    <h1 class="display-4">Welcome to the Amazing ShoeZ Design</h1>
<header>
    <div class="jumbotron jumbotron-fluid">
        @if (!SignInManager.IsSignedIn(User))
        {
            <a asp-controller="Account" asp-action="Register">Register</a>
            <a asp-controller="Account" asp-action="Login">Login</a>
        }
        else
        {
            <a asp-controller="Cart" asp-action="Index">View Cart</a>
            <a asp-controller="Product" asp-action="Products">View Products</a>
        }
    </div>
</header>
=======
    <h1 class="display-4">Welcome to ShoeZ Design</h1>
    <div class="logo"> <img src="~/Images/logo.png" height="100" width="100" /></div>
   
    <header class="main-header">
        @if (SignInManager.IsSignedIn(User))
        {
            <span>Welcome Back @User.Claims.First(m => m.Type == "FullName").Value</span>
            <section class="enter">
                <a asp-controller="Product" asp-action="Products">ENTER</a>
            </section>
        }
        else
        {
            <section><a asp-controller="Account" asp-action="Login">ENTER</a></section>
        }
        @*<div class="jumbotron jumbotron-fluid">
            @if (!SignInManager.IsSignedIn(User))
            {
                <a asp-controller="Account" asp-action="Register">Register</a>
            }
            else
            {
                <a asp-controller="Cart" asp-action="Index">View Cart</a>
            }
        </div>*@
    </header>
>>>>>>> c9ad48cb158b60310ec2168a7e981331cec40265
</body>
</html>