@model ShoeDesignz.Models.Inventory
@using ShoeDesignz.Models;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Products";
    Layout = "_Layout";
    var products = this.ViewContext.RouteData.Values["id"];
}

<header>
    <div class="jumbotron jumbotron-fluid">

        @if (!SignInManager.IsSignedIn(User))
        {
            <a asp-controller="Account" asp-action="Register">Register</a>
            <a asp-controller="Account" asp-action="Login">Login</a>
        }
        else
        {
            <a asp-controller="Cart" asp-action="Products">View Cart</a>
            <a asp-controller="Product" asp-action="Products">View Products</a>
        }

    </div>
</header>

<section class="outter-box">
    <div class="row">
        <div class="column">
            <div class="card" style="width: 18rem;">
                <img src="~/Images/Image from iOS.jpg" class="card-img-top" alt="...">

            </div>
        </div>
        <div class="column">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h1>Name of shoe: @Model.Name</h1></li>
                <li class="list-group-item"><h2>Sku: @Model.Sku </h2></li>

                <li class="list-group-item"><h2>Price: @Model.Price</h2></li>


            </ul>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"> @Model.Description</div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>
        </div>
    </div>
</section>

